# Общие файлы Obsidian
# Правила для папки .obsidian
# Сначала игнорируем всё содержимое папки .obsidian,
# но оставляем возможность делать исключения (поэтому `/*`, а не `/`)

.obsidian/*
!/.obsidian/workspace.json
!/.obsidian/plugins/
!/.obsidian/themes/
!/.obsidian/snippets/

# Теперь игнорируем всё содержимое папки plugins, чтобы не отслеживать другие плагины
.obsidian/plugins/*

# И, наконец, делаем исключение для нужного нам плагина 'orit'
!.obsidian/plugins/orit/

# Временные файлы и резервные копии
*.swp
*.swo
*.bak
*.tmp
*.log

# Индексированные файлы поиска
.DS_Store
.Spotlight-V100
.Trashes

# Node.js (если используете для разработки плагинов)
node_modules/
package-lock.json
yarn.lock

# Прочие файлы, создаваемые редакторами и IDE
.idea/
.vscode/

# Системные файлы
Thumbs.db
